@import 'variable';

body {

    h1 {
        color: $red;
    }

   div {
    a {
        text-decoration: none;
    }
   }
}
.app{
    display: flex;
    flex-direction: column;


}


.header-logo{
    width: 5rem;
    height: auto;
    object-fit: cover;
}
.card-title{
    height: 50px;
    white-space: normal;    /* Allow text to wrap to the next line */
    overflow: hidden;       /* Hide content that overflows the height */
    text-overflow: ellipsis; /* Show an ellipsis for overflow text */
   
}

.card-desc{
    height: 50px;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

.avatar-container {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right:5px ;
}

.stored-courses-icon{
    display: flex;
    // width: 0px;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
        color: #000;
        
        span{
            margin-left: 10px;
        }
    }

   
}

.sellect-all-form{
    // width: 500px;
    display: flex;
    // justify-content: space-between;
    gap: 20px;
    align-items: center;

    .checkbox-select-all-option{
        width: 200px;
    }
}


