@import 'variable';

body {

    h1 {
        color: $red;
    }

   div {
    a {
        text-decoration: none;
    }
   }
}


.header-logo{
    width: 5rem;
    height: auto;
    object-fit: cover;
}

.card-desc{
    height: 50px;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

.avatar-container {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right:5px ;
}