<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-3'>
            <button
                class='btn'
                type='button'
                data-bs-toggle='offcanvas'
                data-bs-target='#offcanvasScrolling'
                aria-controls='offcanvasScrolling'
            ><i class='fa-solid fa-bars' style='scale: 2;'></i></button>

            <div
                class='offcanvas offcanvas-start'
                data-bs-scroll='true'
                data-bs-backdrop='false'
                tabindex='-1'
                id='offcanvasScrolling'
                aria-labelledby='offcanvasScrollingLabel'
            >
                <div class='offcanvas-header'>
                    <h5 class='offcanvas-title' id='offcanvasScrollingLabel'>Offcanvas with body scrolling</h5>
                    <button type='button' class='btn-close' data-bs-dismiss='offcanvas' aria-label='Close'></button>
                </div>
                <div class='offcanvas-body'>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-9'>
            <h2>{{courseDetail.name}}</h2>
            <iframe
                width='560'
                height='315'
                src='https://www.youtube.com/embed/{{courseDetail.videoId}}'
                title='YouTube video player'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                allowfullscreen
            ></iframe>
            <p>{{courseDetail.description}}</p>
        </div>
    </div>
</div>