<nav class='navbar navbar-expand-lg bg-body-tertiary'>
    <div class='container'>
        <a class='navbar-brand' href='/'>
            <img
                src='https://github.com/LeonCromwell/ntptwebst6/blob/main/img/logoweb.png?raw=true'
                class='header-logo'
                alt='Logo'
            />
        </a>

        {{#if account}}
            <div id='navbarSupportedContent'>
                <ul class='navbar-nav ml-auto'>

                    <li class='nav-item dropdown'>

                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            role='button'
                            data-bs-toggle='dropdown'
                            aria-expanded='false'
                        >
                            <img
                                src='https://motgame.vn/stores/news_dataimages/motgamevn/062023/30/05/hina-nu-cosplayer-noi-tieng-han-quoc-khien-bao-nguoi-me-met-nhan-lam-vo-la-ai-53-.5548.jpg'
                                class='avatar-container'
                                alt='Mai Lý Hải'
                            />
                            {{account}}
                        </a>
                        <ul class='dropdown-menu'>
                            <li>
                                <a class='dropdown-item' href='/courses/create'>Thêm Khóa Học</a></li>
                            <li><hr class='dropdown-divider' /></li>
                            <li><a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a></li>
                            <li><hr class='dropdown-divider' /></li>
                            <li><a class='dropdown-item' href='/me/stored/news'>Bài viết của tôi</a></li>
                            <li><hr class='dropdown-divider' /></li>
                            <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        {{else}}
            <div id='navbarSupportedContent'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a class='nav-link' href='/login'>Đăng nhập</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='/register'>Đăng ký</a>
                    </li>
                </ul>
            </div>
        {{/if}}

    </div>
</nav>