<nav class='navbar navbar-expand-lg bg-body-tertiary'>
    <div class='container'>
        <a class='navbar-brand' href='/'>
            <img
                src='https://github.com/LeonCromwell/ntptwebst6/blob/main/img/logoweb.png?raw=true'
                class='header-logo'
                alt='Logo'
            />
        </a>

        <div id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>

                <li class='nav-item dropdown'>

                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        <img src='../../../public/img/logo.png' class='avatar-container' alt='Mai Lý Hải' />
                        Mai Lý Hải
                    </a>
                    <ul class='dropdown-menu'>
                        <li>
                            <a class='dropdown-item' href='/courses/create'>Thêm Khóa Học</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='/me/stored/news'>Bài viết của tôi</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>