<div class='mt-4'>
    <form class='row g-3' method='POST' action=''>

        <div class='col-auto'>
            <label for='name' class='visually-hidden'>Name</label>
            <input type='text' name='q' class='form-control' id='name' placeholder='Name' />
        </div>
        <div class='col-auto'>
            <button type='submit' class='btn btn-primary mb-3'>Confirm identity</button>
        </div>
    </form>
</div>